[Unit]
Description=Github Actions Runner
After=docker.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 <path/to/main.py>

[Install]
WantedBy=multi-user.target
